<?xml version="1.0" encoding="UTF-8"?>
<module version="2.0">
	<meta>
		<identity>
			<uri>urn:uk:chriscormack:netkernel:lighting:desk:data</uri>
			<version>1.0.0</version>
		</identity>
		<info>
			<name>Lighting / Desk / Data</name>
			<description></description>
		</info>
	</meta>

	<system>
		<dynamic/>
	</system>

	<rootspace uri="urn:uk:chriscormack:netkernel:lighting:desk:data" name="Lighting / Desk / Database">
		<literal uri="res:/etc/ConfigRDBMS.xml" type="xml">
			<config>
				<rdbms>
					<jdbcDriver>org.postgresql.Driver</jdbcDriver>
					<jdbcConnection>jdbc:postgresql://localhost:5432/lighting</jdbcConnection>
					<poolSize>8</poolSize>

					<user>lighting</user>
					<password>9}euxr4HYN8)Es|</password>
				</rdbms>
			</config>
		</literal>

		<mapper>
			<config>
				<import>res:/uk/chriscormack/netkernel/lighting/desk/data/scripts/mapperConfig.xml</import>
				<import>res:/uk/chriscormack/netkernel/lighting/desk/data/fixtures/mapperConfig.xml</import>
			</config>
			<space>
				<fileset>
					<regex>res:/uk/chriscormack/netkernel/lighting/desk/data/(scripts|fixtures)/.*</regex>
				</fileset>
			</space>
		</mapper>

		<import>
			<uri>urn:org:netkernel:ext:layer1</uri>
			<private/>
		</import>
		<import>
			<uri>urn:org:netkernel:mod:hds</uri>
			<private/>
		</import>

		<import>
			<uri>urn:org:netkernel:mod:db</uri>
			<private/>
		</import>

		<import>
			<uri>urn:org:netkernel:lang:kotlin</uri>
			<private/>
		</import>
	</rootspace>
</module>
